<form accept-charset="UTF-8" action="clients#update" method="patch">
  <input type="text" name="client[first_name]" value="<%= @client.first_name %>" />
  <button class="button" type="submit">Submit</button>
</form>